body{font-family: 'Poppins', sans-serif; margin:15px}
h1{font-size: 50px;
}
h2{font-size: 40px;}
.my{color:orange;}
.flexible-container{display: flex;margin-bottom: 150px;}
}
.half-width{width50%; padding-left:2%;
}
.half-width img {width:90%;}
.link-button{text-decoration:none;
background-image: linear-gradient(orange,tomato);
color:white;font-weight: 700;
padding:10px 40px;border-radius: 5px;
}
.top-banner{background-image: url(top-banner.png);background-repeat: no-repeat;}
.half-width2{width50%; padding-left:10%;
}
.he{color:red}
.half-width2 img {width:90%;}
.dream-big{background-image:url(dream-bg.png);background-repeat:no-repeat;
background-position:right;
}
.pro{color:green;}
.experience-area{background-image: url(exp-bg.png); background-repeat: no-repeat;background-position:left;}
.experience-item{width:40%;
  margin-left:5%;
  margin-right:5%;
  padding-left:20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
  border-left:10px solid;
}
#web-develop{
  border-left:7px solid;
  border-image:linear-gradient(salmon,tomato) ;
  border-image-slice:1;}
  #web-develop-in{
    border-left: 7px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice:1;
  }
  footer p {text-align:center;}